/.build/
/_build/
/Build
/Build.bat
/blib
/Makefile
/pm_to_blib

/local/
.vs*

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~

!LICENSE

MANIFEST

/_build_params

MYMETA.*

/Uji-*

.tidyall.d/
*.gz
*.zip
temp/
t/dev/

*.session
